@font-face {
  font-family: 'National Park';
  src: url('{{ "NationalPark-Regular.woff" | asset_url }}') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'National Park';
  src: url('{{ "NationalPark-Medium.woff" | asset_url }}') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'National Park';
  src: url('{{ "NationalPark-SemiBold.woff" | asset_url }}') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'National Park';
  src: url('{{ "NationalPark-Bold.woff" | asset_url }}') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
